<div class="foot">
  <footer class="container">
    <div class="Contentbox">
      <h1>Customer Care</h1>
      <div class="content">
        <a href="#"><p>Help Center</p></a>
        <a href="#"><p>How to buy</p></a>
        <a href="#"><p>Return and Refunds</p></a>
      </div>
    </div>
    <div class="Contentbox">
      <h1>A-Shop</h1>
      <div class="content">
        <a href="#"><p>About A-Shop</p></a>
        <a href="#"><p>Careers</p></a>
        <a href="#"><p>A-shop Blog</p></a>
        <a href="#"><p>Terms & condition</p></a>
        <a href="#"><p>Privacy Policy</p></a>
      </div>
    </div>
    <div class="Contentbox">
      <h1>Contact Us</h1>
      <div class="content">
        <div class="icons">
          <a href="#"><fa-icon [icon]="facebook"></fa-icon></a>
          <a href="#"><fa-icon [icon]="instagram"></fa-icon></a>
          <a href="#"><fa-icon [icon]="twitter"></fa-icon></a>
          <a href="#"><fa-icon [icon]="linkdin"></fa-icon></a>
          <a href="#"><fa-icon [icon]="youtube"></fa-icon></a>
        </div>
        <p>Phone: 9800000000</p>
        <p>Email: sjeewan53@gmail.com</p>
        <a href="#"><p>Website: https://test.com.np</p> </a>
      </div>
    </div>
  </footer>
  <div class="endnote">
    Copyright. This software belongs to Mr. Jeewan Sharma
  </div>
</div>
